{% extends "base.html" %}
{% block main %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Apply Leave</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Apply Leave</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fas fa-pray"></i> View Leave History
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'staff_leave_save' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Apply Leave</span></h5>
                            {% include "includes/messages.html" %}
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Leave Date</label>
                                <input type="date" class="form-control" name="date" required/>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Reason</label>
                                <textarea class="form-control" name="message" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Apply Leave</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Leave Apply History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        </div>
            <div class="modal-body">
        <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="table_id" class="table table-hover table-center mb-0 ">
                                 <thead>

                                    <tr>
                                       <th>Date</th>
                                       <th>Reason</th>
                                       <th class="text-right">Status</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for history in staff_leave_history %}
                                    <tr>
                                       <td>{{history.date}}</td>
                                       <td>
                                          <h2 class="table-avatar">
                                           <a href="">{{ history.message }}</a>
                                          </h2>
                                       </td>

                                       <td class="text-right">
                                          <div class="actions">
                                              {% if history.status == 0 %}
                                              <span class="badge badge-info">Pending</span>
                                              {% elif history.status == 1 %}
                                              <span class="badge badge-success">Accepted</span>
                                              {% else %}
                                              <span class="badge danger">Rejected</span>
                                              {% endif %}
                                                        </div>
                                       </td>
                                    </tr>
{% endfor %}

                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
</div>
{% endblock main %}
