{% extends "base.html" %}
{% block main %}
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Take Attendance</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="">Attendance</a></li>
<li class="breadcrumb-item active">Attendance</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
    {% include "includes/messages.html" %}

    {% if action is None %}
<form action="?action=get_student" method="POST">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Take Attendance</span></h5>
</div>

    <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Session Year</label>
                <select class="form-control" name="session_year_id" required>
                  <option>Select Session Year</option>
                  {% for course in session_year %}
                    <option value="{{ course.id }}">{{ course.session_start }}-{{ course.session_end }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
 <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Select Course</label>
                <select class="form-control" name="subject_id" required>
                  <option>Select Course</option>
                  {% for course in subject %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>




<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
    {% else %}
    <form action="{% url 'staff_save_attendance' %}" method="POST">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Subject Information</span></h5>
</div>

 <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Subject</label>
                <select class="form-control" name="subject_id" required>


                    <option value="{{ get_subject.id }}">{{ get_subject }}</option>

                </select>
              </div>
            </div>
    <div class="col-12 col-sm-6">
              <div class="form-group">
                <label>Staff</label>
                <select class="form-control" name="session_year_id" required>

                    <option value="{{ get_session_year.id }}">{{get_session_year}}</option>

                </select>
              </div>
            </div>
    <div class="col-12 col-sm-6">
<div class="form-group">
<label>Attendance</label>
<input type="date" name="attendance_date" class="form-control">
</div>
</div>
    {% for i in students %}
    <div class="form-group mt-5">

    <div class="form-check">
  <input class="form-check-input" type="checkbox"  id="flexCheckDefault" value="{{i.id}}" name="student_id">
  <label class="form-check-label" for="flexCheckDefault">
      {{i.admin.first_name}}
  </label>
</div>
    </div>
    {% endfor %}
<div class="col-12">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</form>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock main %}
