{% load static %}


<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == 1 %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-tachometer-alt"></i><span> Dashboard</span> </a>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_students' %}">Student Add</a></li>
                        <li><a href="{% url 'hod_student_view' %}">Student View</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'view_staff' %}">Staff View</a></li>
                        <li><a href="{% url 'add_staff' %}">Staff Add</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-open"></i><span> Course</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'add_course' %}">Course Add</a></li>
                        <li><a href="{% url 'view_course' %}">Course View</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'view_subject' %}">Subject View</a></li>
                        <li><a href="{% url 'add_subject' %}">Subject Add</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-clock"></i> <span> Session</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="{% url 'view_session_year' %}">Session View</a></li>
                        <li><a href="{% url 'add_session_year' %}">Session Add</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-clipboard-list"></i> <span> Attendance</span> </a>
                </li>
                <li>
                    <a href="{% url 'staff_send_notification' %}"><i class="fas fa-bell"></i><span> Send Staff Notification</span> </a>
                </li>
                <li>
                    <a href="{% url 'student_send_notification' %}"><i class="fas fa-bell"></i><span> Send Student Notification</span> </a>
                </li>
                <li>
                    <a href="{% url 'hod_staff_feedback_reply' %}"><i class="fas fa-comments"></i><span> Staff Feedback</span> </a>
                </li>
                <li>
                    <a href="{% url 'student_feedback_reply' %}"><i class="fas fa-comments"></i> <span> Student Feedback</span> </a>
                </li>
                <li>
                    <a href="{% url 'staff_leave_view' %}"><i class="fas fa-scroll"></i> <span> Staff Leave</span> </a>
                </li>
                <li>
                    <a href="{% url 'staff_leave_view' %}"><i class="fas fa-scroll"></i> <span> Student Leave</span> </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span> </a>
                </li>
            </ul>
            {% elif user.user_type == 2 %}
            <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-tachometer-alt"></i><span> Dashboard</span> </a>
                </li>
                 <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i><span> Total Attendence</span> </a>
                </li>
                 <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i><span> View/Update Attendence</span> </a>
                </li>
                 <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-poll-h"></i><span> Add Result</span> </a>
                </li>
                 <li>
                    <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i><span> Apply For Leave</span> </a>
                </li>
                 <li>
                    <a href="{% url 'staff_feedback' %}"><i class="fas fa-comment"></i><span> Send FeedBack</span> </a>
                </li>
                <li>
                    <a href="{% url 'staff_view_notification' %}"><i class="fas fa-bell"></i><span> Notification</span> </a>
                </li>
                 <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span> </a>
                </li>


            </ul>
            {% else %}
             <ul>
                <li class="menu-title">
                    <span>Main Menu</span>
                </li>
                <li>
                    <a href="{% url 'student_home' %}"><i class="fas fa-tachometer-alt"></i><span> Dashboard</span> </a>
                </li>
                  <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i><span> View Attendance</span> </a>
                </li>
                  <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-poll"></i><span> View Result</span> </a>
                </li>
                  <li>
                    <a href="{% url 'student_apply_leave' %}"><i class="fas fa-pray"></i><span> Apply for Leave</span> </a>
                </li>
                  <li>
                    <a href="{% url 'student_feedback' %}"><i class="fas fa-comment"></i><span> Send Feedback</span> </a>
                </li>
                  <li>
                    <a href="{% url 'student_notification' %}"><i class="fas fa-bell"></i><span> Send Notification</span> </a>
                </li>
                   <li>
                    <a href="{% url 'hod_home' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span> </a>
                </li>
             </ul>
            {% endif %}
        </div>
    </div>
</div>
