{% extends "base.html" %}

{% block main %}
   <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Staff</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'home' %}">Staff Leave</a></li>
                           <li class="breadcrumb-item active">Courses</li>
                        </ul>
                     </div>

                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table id="table_id" class="table table-hover table-center mb-0 ">
                                 <thead>

                                    <tr>
                                       <th>ID</th>
                                       <th>Name</th>
                                       <th>Leave Date</th>
                                       <th>Reason</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for staff_leaves in staff_leave %}
                                    <tr>
                                       <td>{{staff_leaves.id}}</td>
                                       <td>
                                          <h2 class="table-avatar">
                                           <a href="">{{ staff_leaves.staff_id.admin.first_name }}</a>
                                          </h2>
                                       </td>
                                         <td>
                                          <h2 class="table-avatar">
                                           <a href="">{{ staff_leaves.date }}</a>
                                          </h2>
                                       </td>
                                          <td>
                                          <h2 class="table-avatar">
                                           <a href="">{{ staff_leaves.message }}</a>
                                          </h2>
                                       </td>

                                       <td class="text-right">
                                          <div class="actions">
                                              {% if staff_leaves.status == 0 %}
                                              <a href="{% url 'staff_leave_approve' staff_leaves.id %}" class="btn btn-success" type="button">Approve</a>
                                              <a href="{% url 'staff_leave_disapprove' staff_leaves.id %}" class="btn btn-danger" type="button">Disapprove</a>
                                      {% elif staff_leaves.status == 1 %}
                                              <button class="btn btn-success" disabled>Approve</button>
                                              {% else %}
                                              <button class="btn btn-danger" disabled>Disapprove</button>

                                              {% endif %}

                                          </div>
                                       </td>
                                    </tr>
{% endfor %}

                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


{% endblock main %}